In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_trans = pd.read_csv("C:/MSBAPM/Spring 2020/Data Science with Python/Project/ieee-fraud-detection/train_transaction.csv")
test_trans = pd.read_csv("C:/MSBAPM/Spring 2020/Data Science with Python/Project/ieee-fraud-detection/test_transaction.csv")
train_identity = pd.read_csv("C:/MSBAPM/Spring 2020/Data Science with Python/Project/ieee-fraud-detection/train_identity.csv")
test_identity = pd.read_csv("C:/MSBAPM/Spring 2020/Data Science with Python/Project/ieee-fraud-detection/test_identity1.csv")

In [3]:
for i in train_identity.columns:
    print(i, np.round(train_identity[i].isnull().sum()/train_identity.shape[0],2))

TransactionID 0.0
id_01 0.0
id_02 0.02
id_03 0.54
id_04 0.54
id_05 0.05
id_06 0.05
id_07 0.96
id_08 0.96
id_09 0.48
id_10 0.48
id_11 0.02
id_12 0.0
id_13 0.12
id_14 0.45
id_15 0.02
id_16 0.1
id_17 0.03
id_18 0.69
id_19 0.03
id_20 0.03
id_21 0.96
id_22 0.96
id_23 0.96
id_24 0.97
id_25 0.96
id_26 0.96
id_27 0.96
id_28 0.02
id_29 0.02
id_30 0.46
id_31 0.03
id_32 0.46
id_33 0.49
id_34 0.46
id_35 0.02
id_36 0.02
id_37 0.02
id_38 0.02
DeviceType 0.02
DeviceInfo 0.18

In [4]:
n= []
for i in train_identity.columns:
    m = np.round(train_identity[i].isnull().sum()/train_identity.shape[0],2)
    if m > 0.70 :
        n.append(i)

In [5]:
n

['id_07',
 'id_08',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27']

In [6]:
train_identity.shape

(144233, 41)

In [7]:
train_identity = train_identity.drop(n,axis=1)

In [8]:
train_identity.shape

(144233, 32)

In [9]:
test_identity = test_identity.drop(n,axis=1)

In [10]:
test_identity.shape

(141907, 32)

In [11]:
for i in train_identity.columns:
    if train_identity[i].dtypes == 'int64' or train_identity[i].dtypes == 'float64':
        train_identity[i] = train_identity[i].fillna(train_identity[i].mean())

In [12]:
for i in train_identity.columns:
    if train_identity[i].dtype == 'object':
        train_identity[i] = train_identity[i].fillna(train_identity[i].mode())

In [13]:
train_identity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 32 columns):
TransactionID    144233 non-null int64
id_01            144233 non-null float64
id_02            144233 non-null float64
id_03            144233 non-null float64
id_04            144233 non-null float64
id_05            144233 non-null float64
id_06            144233 non-null float64
id_09            144233 non-null float64
id_10            144233 non-null float64
id_11            144233 non-null float64
id_12            144233 non-null object
id_13            144233 non-null float64
id_14            144233 non-null float64
id_15            140985 non-null object
id_16            129340 non-null object
id_17            144233 non-null float64
id_18            144233 non-null float64
id_19            144233 non-null float64
id_20            144233 non-null float64
id_28            140978 non-null object
id_29            140978 non-null object
id_30            77565 non-null object
id_31            140282 non-null object
id_32            144233 non-null float64
id_33            73289 non-null object
id_34            77805 non-null object
id_35            140985 non-null object
id_36            140985 non-null object
id_37            140985 non-null object
id_38            140985 non-null object
DeviceType       140810 non-null object
DeviceInfo       118666 non-null object
dtypes: float64(16), int64(1), object(15)
memory usage: 35.2+ MB

In [14]:
m =[]
for i in train_identity.columns:
    if train_identity[i].dtype == 'object':
        m.append(i)

In [15]:
for i in m:
    train_identity[i].fillna(train_identity[i].mode(),inplace = True)
    print(train_identity[i].mode())

0    NotFound
dtype: object
0    Found
dtype: object
0    Found
dtype: object
0    Found
dtype: object
0    Found
dtype: object
0    Windows 10
dtype: object
0    chrome 63.0
dtype: object
0    1920x1080
dtype: object
0    match_status:2
dtype: object
0    T
dtype: object
0    F
dtype: object
0    T
dtype: object
0    F
dtype: object
0    desktop
dtype: object
0    Windows
dtype: object

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [17]:
m

['id_12',
 'id_15',
 'id_16',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38',
 'DeviceType',
 'DeviceInfo']

In [18]:
train_identity1 = train_identity[m]

In [19]:
train_identity1.describe()

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
count,144233,140985,129340,140978,140978,77565,140282,73289,77805,140985,140985,140985,140985,140810,118666
unique,2,3,2,2,2,75,130,260,4,2,2,2,2,2,1786
top,NotFound,Found,Found,Found,Found,Windows 10,chrome 63.0,1920x1080,match_status:2,T,F,T,F,desktop,Windows
freq,123025,67728,66324,76232,74926,21155,22000,16874,60011,77814,134066,110452,73922,85165,47722

In [20]:
train_identity1.fillna('Unknown',inplace = True)

C:\Users\janan\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [21]:
train_identity1.isnull().sum()

id_12         0
id_15         0
id_16         0
id_28         0
id_29         0
id_30         0
id_31         0
id_33         0
id_34         0
id_35         0
id_36         0
id_37         0
id_38         0
DeviceType    0
DeviceInfo    0
dtype: int64

In [22]:
train_identity1.loc[:,'id_15':'DeviceType']

,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType
0,New,NotFound,New,NotFound,Android 7.0,samsung browser 6.2,2220x1080,match_status:2,T,F,T,T,mobile
1,New,NotFound,New,NotFound,iOS 11.1.2,mobile safari 11.0,1334x750,match_status:1,T,F,F,T,mobile
2,Found,Found,Found,Found,Unknown,chrome 62.0,Unknown,Unknown,F,F,T,T,desktop
3,New,NotFound,New,NotFound,Unknown,chrome 62.0,Unknown,Unknown,F,F,T,T,desktop
4,Found,Found,Found,Found,Mac OS X 10_11_6,chrome 62.0,1280x800,match_status:2,T,F,T,T,desktop
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,Found,Found,Found,Found,Unknown,chrome 66.0 for android,Unknown,Unknown,F,F,T,F,mobile
144229,New,NotFound,New,NotFound,Android 7.1.1,chrome 55.0 for android,855x480,match_status:2,T,F,T,F,mobile
144230,New,NotFound,New,NotFound,Unknown,chrome 65.0 for android,Unknown,Unknown,F,F,T,F,mobile
144231,Found,Found,Found,Found,Mac OS X 10_9_5,chrome 66.0,2560x1600,match_status:2,T,F,T,F,desktop
144232,New,NotFound,New,NotFound,Unknown,chrome 66.0 for android,Unknown,Unknown,F,F,T,F,mobile

In [23]:
for i in m:
    train_identity1[i] = le.fit_transform(train_identity1[i])

C:\Users\janan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
train_identity1.head()

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,1,1,1,1,1,7,124,164,4,1,0,1,1,2,954
1,1,1,1,1,1,64,99,48,3,1,0,0,1,2,1728
2,1,0,0,0,0,41,45,260,0,0,0,1,1,1,1599
3,1,1,1,1,1,41,45,260,0,0,0,1,1,1,1557
4,1,0,0,0,0,24,45,40,4,1,0,1,1,1,723

In [25]:
test_identity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 32 columns):
TransactionID    141907 non-null int64
id_01            141907 non-null int64
id_02            136976 non-null float64
id_03            66481 non-null float64
id_04            66481 non-null float64
id_05            134750 non-null float64
id_06            134750 non-null float64
id_09            74338 non-null float64
id_10            74338 non-null float64
id_11            136778 non-null float64
id_12            141907 non-null object
id_13            130286 non-null float64
id_14            71357 non-null float64
id_15            136977 non-null object
id_16            125747 non-null object
id_17            135966 non-null float64
id_18            50875 non-null float64
id_19            135906 non-null float64
id_20            135633 non-null float64
id_28            136778 non-null object
id_29            136778 non-null object
id_30            70659 non-null object
id_31            136625 non-null object
id_32            70671 non-null float64
id_33            70671 non-null object
id_34            72175 non-null object
id_35            136977 non-null object
id_36            136977 non-null object
id_37            136977 non-null object
id_38            136977 non-null object
DeviceType       136931 non-null object
DeviceInfo       115057 non-null object
dtypes: float64(15), int64(2), object(15)
memory usage: 34.6+ MB

In [26]:
for i in test_identity.columns:
    if test_identity[i].dtypes == 'int64' or test_identity[i].dtypes == 'float64':
        test_identity[i] = test_identity[i].fillna(test_identity[i].mean())
for i in test_identity.columns:
    if test_identity[i].dtype == 'object':
        test_identity[i] = test_identity[i].fillna(test_identity[i].mode())
test_identity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 32 columns):
TransactionID    141907 non-null int64
id_01            141907 non-null int64
id_02            141907 non-null float64
id_03            141907 non-null float64
id_04            141907 non-null float64
id_05            141907 non-null float64
id_06            141907 non-null float64
id_09            141907 non-null float64
id_10            141907 non-null float64
id_11            141907 non-null float64
id_12            141907 non-null object
id_13            141907 non-null float64
id_14            141907 non-null float64
id_15            136977 non-null object
id_16            125747 non-null object
id_17            141907 non-null float64
id_18            141907 non-null float64
id_19            141907 non-null float64
id_20            141907 non-null float64
id_28            136778 non-null object
id_29            136778 non-null object
id_30            70660 non-null object
id_31            136625 non-null object
id_32            141907 non-null float64
id_33            70672 non-null object
id_34            72176 non-null object
id_35            136977 non-null object
id_36            136977 non-null object
id_37            136977 non-null object
id_38            136977 non-null object
DeviceType       136931 non-null object
DeviceInfo       115057 non-null object
dtypes: float64(15), int64(2), object(15)
memory usage: 34.6+ MB

In [27]:
for i in m:
    test_identity[i].fillna(test_identity[i].mode(),inplace = True)
    print(test_identity[i].mode())

0    NotFound
dtype: object
0    Found
dtype: object
0    Found
dtype: object
0    Found
dtype: object
0    Found
dtype: object
0    Windows 10
dtype: object
0    chrome 70.0
dtype: object
0    1920x1080
dtype: object
0    match_status:2
dtype: object
0    T
dtype: object
0    F
dtype: object
0    T
dtype: object
0    F
dtype: object
0    desktop
dtype: object
0    Windows
dtype: object

In [28]:
test_identity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 32 columns):
TransactionID    141907 non-null int64
id_01            141907 non-null int64
id_02            141907 non-null float64
id_03            141907 non-null float64
id_04            141907 non-null float64
id_05            141907 non-null float64
id_06            141907 non-null float64
id_09            141907 non-null float64
id_10            141907 non-null float64
id_11            141907 non-null float64
id_12            141907 non-null object
id_13            141907 non-null float64
id_14            141907 non-null float64
id_15            136977 non-null object
id_16            125747 non-null object
id_17            141907 non-null float64
id_18            141907 non-null float64
id_19            141907 non-null float64
id_20            141907 non-null float64
id_28            136778 non-null object
id_29            136778 non-null object
id_30            70660 non-null object
id_31            136625 non-null object
id_32            141907 non-null float64
id_33            70672 non-null object
id_34            72176 non-null object
id_35            136977 non-null object
id_36            136977 non-null object
id_37            136977 non-null object
id_38            136977 non-null object
DeviceType       136931 non-null object
DeviceInfo       115057 non-null object
dtypes: float64(15), int64(2), object(15)
memory usage: 34.6+ MB

In [29]:
test_identity1 = test_identity[m]
test_identity1.fillna('Unknown',inplace = True)
test_identity1.isnull().sum()

id_12         0
id_15         0
id_16         0
id_28         0
id_29         0
id_30         0
id_31         0
id_33         0
id_34         0
id_35         0
id_36         0
id_37         0
id_38         0
DeviceType    0
DeviceInfo    0
dtype: int64

In [30]:
for i in m:
    test_identity1[i] = le.fit_transform(test_identity1[i])

C:\Users\janan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
train_identity1.head()

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,1,1,1,1,1,7,124,164,4,1,0,1,1,2,954
1,1,1,1,1,1,64,99,48,3,1,0,0,1,2,1728
2,1,0,0,0,0,41,45,260,0,0,0,1,1,1,1599
3,1,1,1,1,1,41,45,260,0,0,0,1,1,1,1557
4,1,0,0,0,0,24,45,40,4,1,0,1,1,1,723

In [32]:
test_identity1.head()

,id_12,id_15,id_16,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,1,1,1,1,1,49,46,171,2,0,0,1,0,2,924
1,0,0,0,0,0,6,46,48,2,1,0,1,1,2,809
2,1,1,1,1,1,47,101,390,0,0,1,1,0,1,1979
3,1,0,0,0,0,47,46,390,0,0,0,1,0,2,924
4,1,1,1,1,1,47,46,390,0,0,0,1,0,2,1669

In [33]:
train_identity = train_identity.drop(m,axis =1)

In [34]:
test_identity = test_identity.drop(m,axis=1)

In [35]:
train_identity[m]=train_identity1[m]

In [36]:
test_identity[m]=test_identity1[m]

In [37]:
test_identity.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_09,id_10,id_11,...,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663586,-45,280290.0,0.053008,-0.087454,0.0,0.0,0.076219,-0.245877,100.0,...,49,46,171,2,0,0,1,0,2,924
1,3663588,0,3579.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,100.0,...,6,46,48,2,1,0,1,1,2,809
2,3663597,-5,185210.0,0.053008,-0.087454,1.0,0.0,0.076219,-0.245877,100.0,...,47,101,390,0,0,1,1,0,1,1979
3,3663601,-45,252944.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,100.0,...,47,46,390,0,0,0,1,0,2,924
4,3663602,-95,328680.0,0.053008,-0.087454,7.0,-33.0,0.076219,-0.245877,100.0,...,47,46,390,0,0,0,1,0,2,1669

In [38]:
trainid_pca = train_identity.drop("TransactionID",axis=1)

In [39]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)

In [40]:
trainid_pca = pca.fit_transform(trainid_pca)

In [41]:
pca.explained_variance_ratio_

array([9.99991662e-01, 6.15348343e-06])

In [42]:
trainid_pca = pd.DataFrame(trainid_pca)

In [43]:
trainid_pca["TransactionID"] = train_identity["TransactionID"]

In [44]:
trainid_pca.head()

               0           1  TransactionID
0 -103929.453855  491.291600        2987004
1  -75771.735079 -292.514482        2987008
2   16914.321641 -197.550525        2987010
3   47115.398651 -162.352665        2987011
4 -167256.342705  747.446523        2987016

In [45]:
testid_pca = test_identity.drop("TransactionID",axis=1)
testid_pca = pca.fit_transform(testid_pca)
testid_pca = pd.DataFrame(testid_pca)
testid_pca["TransactionID"] = test_identity["TransactionID"]
testid_pca.head()

               0            1  TransactionID
0   87631.820352   764.059761        3663586
1 -189079.084904  1074.616137        3663588
2   -7448.833801  -217.057502        3663597
3   60285.899212   789.821705        3663601
4  136021.328910    -9.689713        3663602

In [46]:
trainid_pca.columns = ['id_pc1','id_pc2',"TransactionID"]
testid_pca.columns = ['id_pc1','id_pc2',"TransactionID"]

-------------------Transaction Table-----------

In [47]:
train_trans.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
n1= []
for i in train_trans.columns:
    m = np.round(train_trans[i].isnull().sum()/train_trans.shape[0],2)
    if m > 0.70 :
        n1.append(i)

In [49]:
train_trans = train_trans.drop(n1,axis=1)
test_trans = test_trans.drop(n1,axis=1)

In [50]:
train_trans.shape

(590540, 226)

In [51]:
test_trans.shape

(506691, 225)

In [52]:
for i in train_trans.columns:
    if train_trans[i].dtypes == 'int64' or train_trans[i].dtypes == 'float64':
        train_trans[i] = train_trans[i].fillna(train_trans[i].mean())
for i in train_trans.columns:
    if train_trans[i].dtype == 'object':
        train_trans[i] = train_trans[i].fillna(train_trans[i].mode())

In [53]:
for i in test_trans.columns:
    if test_trans[i].dtypes == 'int64' or test_trans[i].dtypes == 'float64':
        test_trans[i] = test_trans[i].fillna(test_trans[i].mean())
for i in test_trans.columns:
    if test_trans[i].dtype == 'object':
        test_trans[i] = test_trans[i].fillna(test_trans[i].mode())

In [54]:
m =[]
for i in train_trans.columns:
    if train_trans[i].dtype == 'object':
        m.append(i)
train_trans1 = train_trans[m]
train_trans1.fillna('Unknown',inplace = True)

C:\Users\janan\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [55]:
train_trans1.isnull().sum()

ProductCD        0
card4            0
card6            0
P_emaildomain    0
M1               0
M2               0
M3               0
M4               0
M5               0
M6               0
M7               0
M8               0
M9               0
dtype: int64

In [56]:
m =[]
for i in test_trans.columns:
    if test_trans[i].dtype == 'object':
        m.append(i)
test_trans1 = test_trans[m]
test_trans1.fillna('Unknown',inplace = True)

In [57]:
test_trans1.isnull().sum()

ProductCD        0
card4            0
card6            0
P_emaildomain    0
M1               0
M2               0
M3               0
M4               0
M5               0
M6               0
M7               0
M8               0
M9               0
dtype: int64

In [58]:
for i in m:
    test_trans1[i] = le.fit_transform(test_trans1[i])

C:\Users\janan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
for i in m:
    train_trans1[i] = le.fit_transform(train_trans1[i])

C:\Users\janan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
train_trans = train_trans.drop(m,axis =1)
train_trans[m] = train_trans1[m]

In [61]:
train_trans = train_trans.drop(m,axis =1)
test_trans[m] = test_trans1[m]

In [62]:
train_trans.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,2987000,0,86400,68.5,13926,362.555488,150.0,142.0,315.0,87.0,...,0.0,0.0,0.0,0.0,0.0,117.0,0.0,0.0,0.0,0.0
1,2987001,0,86401,29.0,2755,404.000000,150.0,102.0,325.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987002,0,86469,59.0,4663,490.000000,150.0,166.0,330.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2987003,0,86499,50.0,18132,567.000000,150.0,117.0,476.0,87.0,...,135.0,0.0,0.0,0.0,50.0,1404.0,790.0,0.0,0.0,0.0
4,2987004,0,86506,50.0,4497,514.000000,150.0,102.0,420.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
train_v = train_trans.loc[:,'V1':'V321']

In [64]:
test_v = test_trans.loc[:,'V1':'V321']

In [65]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [66]:
train_v = sc.fit_transform(train_v)

In [67]:
test_v = sc.fit_transform(test_v)

In [68]:
train_pca = pca.fit_transform(train_v)

In [69]:
test_pca = pca.fit_transform(test_v)

In [70]:
pca.explained_variance_ratio_

array([0.18872263, 0.07286977])

In [71]:
train_pca = pd.DataFrame(train_pca)

In [72]:
train_pca.columns = ['v_pc1','v_pc2']

In [73]:
test_pca = pd.DataFrame(test_pca)
test_pca.columns = ['v_pc1','v_pc2']

In [74]:
train_trans['v_pc1'] = train_pca['v_pc1']
train_trans['v_pc2'] = train_pca['v_pc2']

In [75]:
test_trans['v_pc1'] = test_pca['v_pc1']
test_trans['v_pc2'] = test_pca['v_pc2']

In [76]:
v = train_trans.loc[:,'V1':'V321'].columns

In [77]:
train_trans = train_trans.drop(v,axis=1)

In [78]:
test_trans = test_trans.drop(v,axis=1)

In [79]:
train = pd.merge(train_trans,trainid_pca,on='TransactionID',how = 'left',sort = False)

In [80]:
test = pd.merge(test_trans,testid_pca,on='TransactionID',how = 'left', sort=False)

In [81]:
train = train.dropna()
X_train = train.drop('isFraud',axis=1)
Y_train = train["isFraud"]
X_test = test.copy()

In [82]:
X_train.head()

,TransactionID,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,dist1,...,D3,D4,D5,D10,D11,D15,v_pc1,v_pc2,id_pc1,id_pc2
4,2987004,86506,50.000,4497,514.0,150.0,102.0,420.000000,87.00000,118.50218,...,28.343348,140.002441,42.335965,123.982137,146.621465,163.744579,0.328103,-0.642257,-103929.453855,491.291600
8,2987008,86535,15.000,2803,100.0,150.0,226.0,337.000000,87.00000,118.50218,...,28.343348,140.002441,42.335965,123.982137,146.621465,163.744579,0.328103,-0.642257,-75771.735079,-292.514482
10,2987010,86549,75.887,16496,352.0,117.0,134.0,290.733794,86.80063,118.50218,...,0.000000,0.000000,0.000000,0.000000,146.621465,0.000000,18.545986,-5.707977,16914.321641,-197.550525
11,2987011,86555,16.495,4461,375.0,185.0,224.0,290.733794,86.80063,118.50218,...,28.343348,0.000000,42.335965,0.000000,146.621465,0.000000,13.957866,-5.392169,47115.398651,-162.352665
16,2987016,86620,30.000,1790,555.0,150.0,226.0,170.000000,87.00000,118.50218,...,28.343348,140.002441,42.335965,123.982137,146.621465,163.744579,0.328103,-0.642257,-167256.342705,747.446523

In [83]:
X_train.shape
X_test.shape
Y_train.shape

(144233,)

In [84]:
X_train.drop("TransactionID",axis=1,inplace=True)
X_test.drop("TransactionID",axis=1,inplace=True)

In [85]:
X_train.shape

(144233, 35)

In [86]:
x_test = X_test

In [87]:
x_test.shape

(506691, 48)

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X_train, Y_train, test_size=0.33, random_state=1)

In [90]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [91]:
logreg.fit(X_train,y_train)

C:\Users\janan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [92]:
predictions = logreg.predict(X_test)

In [93]:
from sklearn.metrics import classification_report

In [94]:
classification_report(y_test,predictions)

C:\Users\janan\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

'              precision    recall  f1-score   support\n\n           0       0.92      1.00      0.96     43860\n           1       0.00      0.00      0.00      3737\n\n    accuracy                           0.92     47597\n   macro avg       0.46      0.50      0.48     47597\nweighted avg       0.85      0.92      0.88     47597\n'

In [95]:
from sklearn.metrics import confusion_matrix

In [96]:
confusion_matrix(y_test,predictions)

array([[43860,     0],
       [ 3737,     0]], dtype=int64)

In [97]:
from sklearn.metrics import accuracy_score

In [98]:
accuracy_score(y_test,predictions)

0.9214866483181713

In [99]:
from sklearn import linear_model

In [100]:
model1 = linear_model.SGDClassifier(loss="log",class_weight='balanced',alpha=0.1,penalty='l2')

In [101]:
model1.fit(X_train,y_train)

SGDClassifier(alpha=0.1, average=False, class_weight='balanced',
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
              n_iter_no_change=5, n_jobs=None, penalty='l2', power_t=0.5,
              random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [102]:
pred1 = model1.predict(X_test)

In [103]:
classification_report(y_test,pred1)

'              precision    recall  f1-score   support\n\n           0       0.97      0.29      0.45     43860\n           1       0.10      0.88      0.17      3737\n\n    accuracy                           0.34     47597\n   macro avg       0.53      0.59      0.31     47597\nweighted avg       0.90      0.34      0.43     47597\n'

In [104]:
confusion_matrix(y_test,predictions)

array([[43860,     0],
       [ 3737,     0]], dtype=int64)

In [105]:
accuracy_score(y_test,predictions)

0.9214866483181713